
<section>
    <div class="container">
        <div class="text">
            <p class="fw-bolder fs-1">PORTFOLIO COMPONENT</p>
        </div>
        <div class="icon d-flex">
            <div class="line me-3"></div>
            <i class="fa-solid fa-star "></i>
            <div class="line ms-3"></div>
        </div>
        <div class="row p-3 g-5 ">
            <div class="col-lg-4 col-md-6 photo position-relative  rounded-3 overflow-hidden "  >
                <button type="button" class="p-0 border-0" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <img src="../../assets/images/poert1.png" alt="port" class="w-100 rounded-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <div class="layer position-absolute  top-0   h-100 rounded-3 d-flex justify-content-center align-items-center">
                        <i class="text-white fa-solid fa-plus fa-6x"></i>
                    </div>
                  </button>
                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-body">
                            <img src="../../assets/images/poert1.png" class="w-100" alt="poert1 -image" />
                          </div>
                      </div>
                    </div>
            </div>
            <div class="col-lg-4 col-md-6 photo position-relative  rounded-3 overflow-hidden "  >
                <button type="button" class="p-0 border-0" data-bs-toggle="modal" data-bs-target="#exampleModal-1">
                    <img src="../../assets/images/port2.png" alt="port" class="w-100 rounded-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <div class="layer position-absolute  top-0   h-100 rounded-3 d-flex justify-content-center align-items-center">
                        <i class="text-white fa-solid fa-plus fa-6x"></i>
                    </div>
                  </button>
                  <div class="modal fade" id="exampleModal-1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-body">
                            <img src="../../assets/images/port2.png" class="w-100" alt="poert1 -image" />
                          </div>
                      </div>
                    </div>
            </div>
            <div class="col-lg-4 col-md-6 photo position-relative  rounded-3 overflow-hidden " >
                <button type="button" class="p-0 border-0" data-bs-toggle="modal" data-bs-target="#exampleModal-2">
                    <img src="../../assets/images/port3.png" alt="port" class="w-100 rounded-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <div class="layer position-absolute  top-0   h-100 rounded-3 d-flex justify-content-center align-items-center">
                        <i class="text-white fa-solid fa-plus fa-6x"></i>
                    </div>
                  </button>
                  <div class="modal fade" id="exampleModal-2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-body">
                            <img src="../../assets/images/port3.png" class="w-100" alt="poert1 -image" />
                          </div>
                      </div>
                    </div>
            </div>
            <div class="col-lg-4 col-md-6 photo position-relative  rounded-3 overflow-hidden "  >
                <button type="button" class="p-0 border-0" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <img src="../../assets/images/poert1.png" alt="port" class="w-100 rounded-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <div class="layer position-absolute  top-0   h-100 rounded-3 d-flex justify-content-center align-items-center">
                        <i class="text-white fa-solid fa-plus fa-6x"></i>
                    </div>
                  </button>
                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-body">
                            <img src="../../assets/images/poert1.png" class="w-100" alt="poert1 -image" />
                          </div>
                      </div>
                    </div>
            </div>
            <div class="col-lg-4 col-md-6 photo position-relative  rounded-3 overflow-hidden "  >
                <button type="button" class="p-0 border-0" data-bs-toggle="modal" data-bs-target="#exampleModal-1">
                    <img src="../../assets/images/port2.png" alt="port" class="w-100 rounded-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <div class="layer position-absolute  top-0   h-100 rounded-3 d-flex justify-content-center align-items-center">
                        <i class="text-white fa-solid fa-plus fa-6x"></i>
                    </div>
                  </button>
                  <div class="modal fade" id="exampleModal-1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-body">
                            <img src="../../assets/images/port2.png" class="w-100" alt="poert1 -image" />
                          </div>
                      </div>
                    </div>
            </div>
            <div class="col-lg-4 col-md-6 photo position-relative  rounded-3 overflow-hidden " >
                <button type="button" class="p-0 border-0" data-bs-toggle="modal" data-bs-target="#exampleModal-2">
                    <img src="../../assets/images/port3.png" alt="port" class="w-100 rounded-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <div class="layer position-absolute  top-0   h-100 rounded-3 d-flex justify-content-center align-items-center">
                        <i class="text-white fa-solid fa-plus fa-6x"></i>
                    </div>
                  </button>
                  <div class="modal fade" id="exampleModal-2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-body">
                            <img src="../../assets/images/port3.png" class="w-100" alt="poert1 -image" />
                          </div>
                      </div>
                    </div>
            </div>
        </div>
          <!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
         <div class="row p-3 g-5">
            <div class="col-lg-4 col-md-6 photo position-relative  rounded-3 overflow-hidden "  >
                <img src="../../assets/images/poert1.png" alt="port" class="w-100 rounded-3" >
                <div class="layer position-absolute  top-0   h-100 rounded-3 d-flex justify-content-center align-items-center">
                    <i class="text-white fa-solid fa-plus fa-6x"></i>
                </div>
            </div>
         </div>
        </div>
      </div>
    </div>
  </div>
    </div>
</section>

