.line{
    border-bottom: 4px solid #2C3E50;
    width: 80px;
    margin: auto;
}
.text{
    padding-top: 150px;
    color:#2C3E50 ;
    text-align: center;
}
.icon{
    color:#2C3E50 ;
}
input{
    box-shadow: none !important;
}
label {
    color: #1abc9c;
    margin-bottom: 7px;
    transition: .6s top;
}